.ApiPage{
	// border: solid red;
	margin-top: 50px;
	background-color: lightblue;
	.toExplore {
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: 15vh;
		margin: 0 auto;
		justify-content: center;
		margin-bottom: 10px;
		text-align: center;
		background-color: lightblue;

		.explore {

			margin: 0 auto;
			border-radius: 50px;
			padding: 1.25rem;
			border-style: solid;
			border-width: 1px;
			cursor: default;
			border: none;
			background-color: transparent;
			shadow: transparent;
			background-color: rgba(255,255,255,0.4);
			margin-top: 20px;
			margin-bottom: 20px;
				// border: solid purple;

			#entry, .explore-but {
				border: solid lightgrey;
				padding: 10px;
				border-radius: 10px;
				// width: 60%;
			}
			#entry {
				width: 400px;
			}
			.explore-but {
				width: 25%;
			}
		}
	}

	.api-div{
		min-height: 70vh;
		background-color: inherit;
		// border: solid blue;

	  .header{
	    // border: solid red;
			padding-left: 18%;
			padding-right: 18%;
			padding-top: 15px;
			background: white;

	    h3{
	      // border: solid green;
				margin-left: 5px;
				margin-right: 5px;
	    }
	    p {
	      // border: solid purple;
				margin-left: 5px;
				margin-right: 5px;
	    }
	  }

	  .images-all{
	    // border: solid orange;
			background-color: lightblue;
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			padding-left: 10%;
			padding-right: 10%;
			padding-bottom: 10px;
			flex-grow: 1;
			height: 100%;

			.image {
				// border: solid yellow;
				border-radius: 10px;
				background-color: white;
				display: flex;
				flex-flow: column wrap;
				width: 300px;
				// height: 100%;
					min-height: 300px;
				// max-height: 300px;
				margin-top: 10px;
				margin-left: 5px;
				margin-right: 5px;
				padding-top: 18px;
				padding-left: 10px;
				padding-right: 10px;
				justify-content: center;
				h4 {
			     // border: solid black;
					 wrap: wrap;
					 background-color: white;
					 font-size: 17px;
					 margin-top: -11px;
					 color: #888071;
					 color: #382c14;
			  }
			  img {
			    // border: solid blue;
					min-height: 150px;
					width: 100%;
			  }
			}
	  }

	  .links-div{
			// border: solid black;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			padding-left: 20%;
			padding-right: 20%;
			background-color: lightblue;

			.link-box {
				margin: 0 auto;
				justify-content: center;
				text-align: center;
				background-color: lightblue;

				.link{
					margin: 0 auto;
					border-radius: 50px;
			   	padding: 1.25rem;
					border-style: solid;
					border-width: 1px;
					cursor: default;
					border: none;
					background-color: transparent;
					shadow: transparent;
					background-color: rgba(255,255,255,0.4);
					margin-top: 20px;
					margin-bottom: 20px;

					.link-but {
						border: solid lightgrey;
						padding: 10px;
						border-radius: 10px;
						width: 300px;
					}
				}
			}
	  }
	}
}
