.ApiPage{
	margin-top: 50px;
	background-color: lightblue;
	.toExplore {
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: 15vh;
		margin: 0 auto;
		justify-content: center;
		margin-bottom: 10px;
		text-align: center;
		background-color: lightblue;

		.explore {
			display: flex;
			flex-direction: column;
			border-radius: 50px;
			padding: 1.25rem;
			border-style: solid;
			border-width: 1px;
			cursor: default;
			border: none;
			background-color: transparent;
			shadow: transparent;
			background-color: rgba(255,255,255,0.4);
			margin: 20px auto;
			margin-top: 50px;

			#entry, .explore-but {
				border: solid lightgrey;
				padding: 10px;
				border-radius: 10px;
			}
			#entry {
				width: 400px;
				margin-right: 10px;
			}
			.explore-but {
				width: 100px;
			}
		}
	}

	.api-div{
		min-height: 70vh;
		background-color: inherit;

	  .header{
			padding-left: 18%;
			padding-right: 18%;
			padding-top: 15px;
			background: white;

	    h3, p {
				margin: 0 5px 0 5px;
	    }
	  }

	  .images-all{
			background-color: lightblue;
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			padding-left: 10%;
			padding-right: 10%;
			padding-bottom: 10px;
			flex-grow: 1;
			height: 100%;

			.image {
				border-radius: 10px;
				background-color: white;
				display: flex;
				flex-flow: column wrap;
				width: 300px;
				min-height: 300px;
				margin-top: 10px;
				margin-left: 5px;
				margin-right: 5px;
				padding-top: 18px;
				padding-left: 10px;
				padding-right: 10px;
				justify-content: center;
				h4 {
					 wrap: wrap;
					 background-color: white;
					 font-size: 17px;
					 margin-top: -11px;
					 color: #888071;
					 color: #382c14;
			  }
			  img {
					min-height: 150px;
					width: 100%;
			  }
			}
	  }

	  .links-div{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			padding-left: 20%;
			padding-right: 20%;
			background-color: lightblue;

			.link-box {
				margin: 0 auto;
				justify-content: center;
				text-align: center;
				background-color: lightblue;

				.link{
					margin: 0 auto;
					border-radius: 50px;
			   	padding: 1.25rem;
					border-style: solid;
					border-width: 1px;
					cursor: default;
					border: none;
					background-color: transparent;
					shadow: transparent;
					background-color: rgba(255,255,255,0.4);
					margin-top: 20px;
					margin-bottom: 20px;

					.link-but {
						border: solid lightgrey;
						padding: 10px;
						border-radius: 10px;
						width: 300px;

						@media screen and (max-width: 900px) {
							padding: 5px;
							border-radius: 5px;
							width: 200px;
							font-size: 15px;
						}
					}
				}
			}
	  }
	}
}
@media screen and (max-width: 900px) {
	.explore {
		justify-content: center;
		width: 350px;
	}
	.header{
		margin-top: 30px;
	}
	#entry{
		font-size: 13px;
	}
}
