//###################################################### Comment Form
.CommentForm {
	background: #fff;
	border-radius: 10px;
	display: inline-block;
	background-color: #e3dac9;
	display: flex;
	flex-direction: column;
	width: 31vw;

	.comment-button2{
		border-radius: 10px;
		font-size: 15px;
		width: 150px;
		margin-left: 45px;
		margin-bottom: 5px;
	}
	.comment-form{
		padding: 20px;
		width: 27vw;
		border: solid #858585;
		background-color: #B7C68B;
		box-shadow: 3px 3px 3px 1px #B7C68B;
		border-radius: 20px;
		margin: 0 auto;
		margin-bottom: 5px;

		#name, #message{
			margin-bottom: 6px;
			border-radius: 10px;
			height: 40px;
			border: solid #858585;
			padding-left: 8px;
		}
		.add-commment-but{
			background-color: tan;
			border: solid #858585;
			color: #3C412E;
		}

		.add-commment-but:hover{
			box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 138px, rgba(0, 0, 0, 0.22) 0px 15px 112px;
		}
	}
}
@media screen and (max-width: 400px) {
	.CommentForm > .comment-form {
		padding: 5px;
		margin-left: 20px;
		margin-right: -300px;
		width: 220px;
	}
}
//###################################################### Comment Form

//###################################################### Comments
.Comments {
	margin: 5px 0px 100px 10px;
	width: 30vw;
	background: #fff;
	padding: 15px 20px;
	border-radius: 10px;
	border: solid #858585;
	box-shadow: 3px 3px 3px 1px #B7C68B;
	display: inline-block;
 	background-color: tan;
	width: 30vw;

	ul {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

		li {
			padding: 10px;
			border: solid #858585;
			background-color: #B7C68B;
			border-radius: 20px;
			margin-bottom: 5px;
			display: flex;
			flex-direction: column;
		}
		h5 {
			font-size: 16px;
			color: #3C412E;
		}
		.date {

		}
		.comm-author{
			text-align: right;
			border-bottom: 1px solid grey;
		}
		.edit-comment-but {
			border-radius: 10px;
			font-size: 15px;
			width: 40px;
		}
		.edit-comment-but2 {
			background-color: #B7C68B;
			border: transparent;
			border-radius: 10px;
		}
		.edit-comment-but2:hover {
			box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 138px, rgba(0, 0, 0, 0.22) 0px 15px 112px;
		}
		.view-more{
			border-radius: 10px;
			font-size: 20px;
			margin-top: 10px;
			background-color: #E0EDDA;
		}
	}
}
@media screen and (max-width: 900px) {
	.Comments{
		width: 60vw;
		font-size: calc(12px + 1vw);
		text-align: left;
		h5 {
			font-size: calc(12px + 1vw);
			text-align: left;
		}
	}
}
@media screen and (max-width: 400px) {
	.Comments{
		width: 275px;
		font-size: 8px;

		#comment-cards {
				padding: 5px;
				margin-left: -10px;
				margin-right: -300px;
				width: 250px;
		}
		h5.message, h5.comm-author {
			font-size: calc(11px + 1vw);
			margin-bottom: 5px;
		}
		h5.message {
			margin-bottom: 15px;
				text-align: left;
		}
	}
}
//###################################################### Comments

//###################################################### Update Comments
.UpdateComments {
	background: white;
	height: auto;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	display: inline-block;

	.deleteComBut{
		margin-bottom: 5px;
		margin-right: 10px;
		color: lightgrey;
	}

	form {
		margin: 0px 0px 20px 0px;
	  width: 100%;
		label {
			display: flex;
			flex-direction: column;

			.label {
				width: 190px;
				white-space: nowrap;
				padding-left: 10px;
				text-align: left;
				height: 40px;
				margin-bottom: 7px;
			}
			input, textarea  {
				padding: 0px 10px 0px 5px;
				color: #5E6547;
				font-size: 15px;
				width: 100%;
				height: 40px;
				margin-right: 10px;
			}
			textarea{
				height: 100px;
			}
		}
	}

	.entry {
		display: flex;
		flex-direction: column;
		.label {
			width: 190px;
			white-space: nowrap;
			padding-left: 10px;
			text-align: left;
			height: 40px;
			margin-bottom: 7px;
		}
		textarea  {
			padding: 10px 10px 0px 5px;
			color: #5E6547;
			font-size: 15px;
			width: 100%;
			margin-right: 10px;
		}
	}
	.update{
		margin-top: 20px;
	}
}
//###################################################### Update Comments
