.CreateForm {
	border: solid pink;
	background: white;
	max-width: 700px;
	height: auto;
	padding: 20px;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	border: solid #759168;
	display: inline-block;
	margin: 0 auto;
	display: flex;
	align-items: center;
	color: #5E6547;
	margin-bottom: 100px;
		form {
			margin: 20px 0px 10px 0px;
			// border: solid green;
			width: 100%;
			label {
				display: flex;
				flex-direction: row;
				// border: solid blue;
				height: 40px;

			.label {
				// border: solid orange;
				width: 190px;
				white-space: nowrap;
				padding-left: 10px;
				text-align: left;
				height: 40px;
				font-size: 16px;
				padding-top: 4px;
			}
			input, textarea  {
				padding: 0 10px 0px 5px;
				color: black;
				// border: solid red;
				font-size: 15px;
				width: 100%;
				height: 40px;
				margin-right: 10px;
			}
		}
	}

	.entry {
		display: flex;
		flex-direction: row;

		.label {
			width: 190px;
			height: 40px;
			padding-left: 10px;
			font-size: 16px;
		}
		textarea {
			// border: solid yellow;
			padding: 0 10px 0px 5px;
			width: 100%;
			margin-bottom: 16px;
			margin-right: 10px;
			font-size: 16px;
		}
	}
	.add-but {
		background-color: #759168;
		color: white;
		border-radius: 10px;
		height: 50px;
		margin-top: 10px;

	}

}
//###################################################### Create Form



//###################################################### Update Form
.UpdateForm {
	// margin-left: 100px;
	// border: solid pink;
	background: white;
	// width: 200vw;
  max-width: 700px;
	height: auto;
  // margin: 0 auto;
  margin-top: 40px;
  padding: 20px;

  text-align: center;
  border-radius: 15px;
	// background: linear-gradient(to bottom, Indigo, Thistle);
	// color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	display: inline-block;

	.deleteBut{
		margin-bottom: 5px;
		margin-right: 10px;
		color: lightgrey;
	}

	.closeBut{
		margin-bottom: 5px;
		margin-right: 10px;
		color: black;
		border-radius: 10px;
		border: solid lightgrey;
	}
	form {
		margin: 20px 0px 20px 0px;
	    // border: solid green;
	  width: 100%;
		label {
			display: flex;
			flex-direction: row;
			// border: solid blue;
			height: 40px;

			.label {
				// border: solid orange;
				width: 190px;
				white-space: nowrap;
				padding-left: 10px;
				text-align: left;
				height: 40px;
			}
			input, textarea  {
				// margin: 5px;
				padding: 0 10px 0px 5px;
				color: #5E6547;
				// border: solid red;
				// margin-top: -10px;
				font-size: 15px;
				width: 100%;
				height: 40px;
				margin-right: 10px;
			}
		}
	}
	.entry {
		display: flex;
		flex-direction: row;
		.label {
			width: 190px;
			white-space: nowrap;
			padding-left: 10px;
			text-align: left;
			height: 40px;
		}
		textarea  {
			// border: solid red;
			padding: 0 10px 0px 5px;
				color: #5E6547;
			font-size: 15px;
			width: 100%;
			margin-bottom: 16px;
			margin-right: 10px;
		}
	}
}
