@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";

@media (min-width: 576px){

}
@media (min-width: 768px) {

}

@media (min-width: 992px){

	}

  body {

  }

  #app {
		height: 80vh;

  }

.ApiPage{
  border: solid red;
  // background-color: red;

  .header{
    border: solid blue;
    h3{
      border: solid green;
    }
    h4{
      border: solid purple;
    }
  }

  .images{
    border: solid orange;
    h4{
      border: solid black;
    }
    img{
      border: solid red;
    }
  }

  .links{
    border: solid pink;
    a{
      border: solid grey;
    }
  }
}
