@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";

body {
  font-size: 16px;
}

#app {
  border: solid yellow;
  padding: 5px;
}
.NavBar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #f0f0f0;
}

.HomePage {
  height: 100vh;
  border: solid red;
    h1{
      text-align: center;
      font-size: 35px;
      border: solid purple;
    }
}

.AboutPage {

}

.ContactPage{

}

.AppPage {

}

.CreateForm {
  width: 50vw;
  margin: 5px;
  padding: 5px;
  border: solid orange;


}

.Dest-List {
  border: solid pink;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

    li {
      border: solid blue;
      width: 25%;
    }
}
