@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";

body {
  font-size: 16px;
}

#app {
  // border: solid yellow;
  // padding: 5px;
}
.NavBar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #f0f0f0;
}

.HomePage {
  // height: 100vh;
  // border: solid red;
    .toCreateForm{
      h4{
     margin: 0 auto;
      }
      button{
        // margin: 0 auto;
      }
    }

    h1{
      // text-align: center;
      // font-size: 35px;
      // border: solid purple;
    }
    ul{
      div {
        li {
          #cards {
            // width: 18rem;
            border: solid red;
          }
        }
      }
    }
}

.AboutPage {

}

.ContactPage{

}

.AppPage {

}
//#################################################################

.ShowPage {
  // border: solid red;
  height: 90vh;
  font-family: "Platform Web", "Helvetica Neue", sans-serif;
  font-size: 19px;
  line-height: 1.428571429;
  color: #333333;
  height: 100vh;

  .showTitle {
    margin: 4% 7% 2% 7%;
    // border: solid red;
    h1 {
      font-weight: 600;
      letter-spacing: .03em;
      line-height: 1em;
      color: #382c14;
      font-size: 60px;
    }
    h2  {
      font-weight: 400;
      letter-spacing: .03em;
      line-height: 1em;
      color: #888071;
      font-size: 35px;
    }
    img {
      border: solid tan;
      padding-right: 86%;
      padding-bottom: 200px;
    }
  }

  #showDescript {
    background-color: #e3dac9;

    font-family: "Freight Pro", Georgia, "Times New Roman", serif;
    // font-size: 8px;
    // line-height: 20px;
    font-variant-ligatures: common-ligatures;
    letter-spacing: normal;
    margin: 0px;
    padding-left: 7%;
    padding-right: 7%;
    h4{
      padding-top: 10px;
      margin-bottom: 25px;
      font-size: 20px;
      // border: solid pink;
    }

    .added-by {
      text-align: right;
      font-size: 12px;
    }
    .date {
      text-align: right;
      margin-top: -15px;
      font-size: 12px;
      // border: solid red;
    }
  }
}
//#################################################################

.CreateForm {
  width: 55%;
  margin: 5px;
  padding: 5px;
  border: solid orange;
  margin: 0 auto;
  display: flex;
  flex-direction: column;


}
//
// .Dest-List {
//   border: solid pink;
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//
//     li {
//       border: solid blue;
//       width: 25%;
//     }
// }


.CommentForm {
  border: solid purple;

}

.comment-box {
  display: flex;
  flex-direction: column;
  // text-align: right;
  // justify-content: flex-end;
  // align-content: flex-end;
  // align-self: flex-end;
  background: #fff;
  border-radius: 10px;
  padding: 24px;
  margin: 0px auto;
  margin-bottom: 40px;
  margin-top: 40px;
  width: 70%;
    h5 {
      font-size: 15px;
    }
}


.Footer {
  background-color: #d1bea8;
  color: white;
  font-weight: bolder;
}
